<div>
  <button>
    <!-- Property Binding using [] brackets: Wrap the dynamic attribute -->
    <!-- Our example: [img] and [alt] -->
    <!--  bind element properties to dynamic values -->
    <!-- <img [src]="'assets/users/' + selectedUser.avatar" [alt]="selectedUser.name" /> --> 
     
    
    <!-- Instead of using explicit we will use js and ts -->
    <!-- Use that as Properties -->
    <img [src]="imgPath" [alt]="selectedUser.name" />
    <!-- More retable code -->

    <span>{{ selectedUser.name }}</span>
  </button>
</div>
