<div>
  <button [class.active]="selected" (click)="onSelectUser()">
    <!-- Property Binding using [] brackets: Wrap the dynamic attribute -->
    <!-- Our example: [img] and [alt] -->
    <!--  bind element properties to dynamic values -->
    <!-- <img [src]="'assets/users/' + selectedUser.avatar" [alt]="selectedUser.name" /> -->
    <!-- <span>{{ selectedUser.name }}</span> -->

    <!-- Instead of using explicit we will use js and ts -->
    <!-- Use that as Properties -->
    <!-- <img [src]="imgPath" [alt]="selectedUser.name" />
    <span>{{ selectedUser.name }}</span> -->
    <!-- More retable code -->

    <!-- Signals -->
    <!-- <img [src]="imgPath" [alt]="name" />
    <span>{{ name }}</span> -->

    <img [src]="imgPath" [alt]="user.name" />
    <span>{{ user.name }}</span>
  </button>
</div>
